/* body{background:red} */

*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header{
    width: 100vw;
    background: gray;
}

header > div{
    color: red;
    display: flex;
    align-items: end;
    margin-left: 12.5%;
    max-width: 50%;
    margin-right: 55%;
    /* font-size:  1vw; */
}

.contacts:nth-child(2) dd{
    color: black;
  }
.contacts{
    background: red;
    display: flex;
    flex-direction: column;
}
dl{
    /* float: left; */
    display: flex;
    margin: 0;
    /* position: absolute; */
}

dt{
    /* align-self: baseline; */
    position: absolute;
    color: white;
}

dd{
    margin-left: 125px;
    background-color: black;
    width: -webkit-fill-available;
    padding-left: 5px;
    color: red;
}

dd > a{
    color: red;
    text-decoration: none;
}
.content{
    position: relative;
    display: grid;
    grid-template-areas: 
    'top-left top-right'
    'bottom-left bottom-right'
    'hobbies .';
    width: 85%;
    margin: auto;
}

#contact{
    position: absolute;
    top: -16%;
    left: 50vw;
    /* width: -webkit-fill-available; */
    width: 800px;
    overflow: hidden;
}

#contact h3{
    display: none;
}

h3::before{
    content: "•";
    height: 20px;
    width: 20px;
    background-color: red;
    color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

#about p{ padding-right: 20px;}
#experiences p{ padding-right: 20px;}




#about{
    grid-area: top-left;
}
#competencies{
    grid-area: top-right;
}

#experiences{
    grid-area: bottom-left;
}

#education{
    grid-area: bottom-right;
}

#hobbies{
    grid-area: hobbies;
}

h3{
    border-bottom: 2px solid lightgray;
}


.skills-primary::before{
    content: "Main";
}

.skills-secondary::before{
    content: "Other";
}


.skill{
    background: lightgray;
    margin-bottom: 2px;
    padding: 5px 0px;
    color: white;
    overflow: hidden;

}

.skill span{
    background: red;
    margin-left: 5px;
    padding-left: 2px;
    display: block;
}

.skills-secondary span{
    opacity: 0.8;
}

[data-skill="1"] span{
    width: 10%;
}

[data-skill="3"] span{
    width: 30%;
}

[data-skill="5"] span{
    width: 50%;
}

[data-skill="7"] span{
    width: 70%;
}

[data-skill="9"] span{
    width: 90%;
}

.experience-type{
 color: red;
}

.experience-institution{
    font-weight: normal;
    color: red;
}

.experience-institution::before{
    content: "@ ";
}

.experience-location::before{
    content: "In ";
}

.experience-location::after{
    content: "on ";
}

h4{
    margin-bottom: 0px;
}

.experience-details{
    margin-left: 10px;
    color:  darkgray;
}

.experience-date-separator{
    color: red;
}


@media (max-width: 450px){

.content{
    display: block;
}

#contact{
    position: initial;
    width: auto;
}

dd{
    background-color: white;
}

#contact h3 {
    display: block;
    margin-bottom: 30px;
}

.contacts{
    margin-top: 30px;
}

header{
    margin-bottom: 50px;
}

header > div {
    flex-direction: column;
}

h1, h2{
    width: max-content;
}


/* checked on CanIUse.com ... good enough support from most browsers (96% of internet users worldwide)*/
hgroup{
    width: -webkit-fill-available;
}

}